body{
  background-color: #6fb98f;
  background: radial-gradient(#004445, #6fb98f) no-repeat center center fixed;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

.title{
  padding-top: 10px;
  padding-bottom: 20px;
}

.menu-head{
  padding-top: 20px;
  padding-bottom: 20px;
}

.row{
  margin-bottom: 10px;
}


.form{
  background-color: #021c1e;
  color: white;
  margin: 0 auto;
  width: 65%;
}

.labels{
  display: inline-block;
  text-align: right;
  width: 35%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.inputs{
  display: inline-block;
  text-align: left;
  width: 42%;
  vertical-align: middle;
}

.input-field{
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.options{
  padding-top: 15px;
  padding-left: 10px;
}


.radios{
  padding-top: 15px;
  padding-left: 10px;
}

.block{
  padding-bottom: 10px;
}

.checks{
  padding-top: 15px;
  padding-left: 10px;
}

.check-block{
  display: block;
  padding-bottom: 10px;
}

textarea{
  margin-top: 15px;
  margin-left: 10px;
  width: 300px;
  height: 55px;
}

.subbutton{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.buttonstyle{
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 22px;
    margin-top: 5px;
    border-radius: 5px;
}

.footer p{
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }

  textarea{
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .inputs {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}